.home-container
{
    text-align: center;
    padding: 2em;
    max-width: 50em;
    margin: 0 auto;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .home-content
    {
        background: white;
        padding: 2em;
        border-radius: 1em;
        box-shadow: 0 0.25em 0.5em rgba(0, 0, 0, 0.1);
        display: inline-block;
        max-width: 100%;
        text-align: center;
        opacity: 0.80;

        .home-title
        {
            /* Taille du titre. */
            font-size: 4em;
            color: #1e3a8a;
            margin-bottom: 0.5em;
        }

        .home-description
        {
            /* Taille de la description. */
            font-size: 1.5em;
            color: #333;
            margin-bottom: 1.5em;
            line-height: 1.6;
        }

        .home-image
        {
            width: 100%;
            max-width: 80em;
            border-radius: 0.5em;
            box-shadow: 0 0.25em 0.625em rgba(0, 0, 0, 0.2);
            margin-top: 1.5em;
        }

        .additional-image
        {
            width: 100%;
            max-width: 80em;
            border-radius: 0.5em;
            box-shadow: 0 0.25em 0.625em rgba(0, 0, 0, 0.2);
            margin-top: 1em;
        }
    }
}

@media screen and (max-width: 48em)
{
    .home-container
    {
        padding: 1em;
    }

    .home-title
    {
        font-size: 2.0em;
    }

    .home-description
    {
        font-size: 1.0em;
    }

    .home-content
    {
        padding: 1.5em;
    }

    .home-image, .additional-image
    {
        max-width: 100%;
        margin-top: 1em;
    }
}
