.music-list-container
{
    max-width: 100%;
    margin: 0;
    padding: 1em;
    color: #333;

    .music-main
    {
        .music-items
        {
            padding: 0;
            list-style: none;
            display: flex;
            flex-wrap: wrap;
            gap: 1em;
            opacity: 0.80;

            .music-item
            {
                background-color: #fff;
                border: 0.0625em solid #e5e7eb;
                border-radius: 0.5em;
                padding: 1.5em;
                flex: 1 1 calc(33.333% - 1em);
                box-shadow: 0 0.125em 0.25em rgba(0, 0, 0, 0.1);
                transition: transform 0.3s ease, box-shadow 0.3s ease;

                &:hover
                {
                    transform: translateY(-0.3125em);
                    box-shadow: 0 0.25em 0.5em rgba(0, 0, 0, 0.15);
                }

                .track-header
                {
                    display: flex;
                    align-items: center;
                    margin-bottom: 0.5em;

                    .track-number
                    {
                        font-size: 1.2em;
                        font-weight: bold;
                        margin-right: 0.5em;
                        color: #3b82f6;
                    }

                    .track-title
                    {
                        font-size: 1.25em;
                        margin: 0;
                        color: #111827;
                    }
                }

                .track-genre
                {
                    font-size: 1em;
                    font-style: italic;
                    color: #111112;
                    margin-bottom: 1em;
                }

                .track-audio
                {
                    margin-bottom: 1em;

                    .audio-player
                    {
                        width: 100%;
                        outline: none;
                    }
                }

                .track-download
                {
                    text-align: right;
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-end;
                    gap: 1em;

                    .download-link
                    {
                        display: inline-block;
                        background-color: #3b82f6;
                        color: #fff;
                        padding: 0.5em 1em;
                        border-radius: 0.25em;
                        text-decoration: none;
                        font-weight: 600;
                        transition: background-color 0.3s ease;

                        .upload-icon, .eye-icon
                        {
                            width: 1.5em;
                            height: 1.5em;
                            transition: transform 0.3s ease;
                            filter: invert(1);
                            background-size: contain;
                            background-repeat: no-repeat;
                            background-position: center;
                            padding: 0.5em;
                            border-radius: 0.5em;
                            margin-right: 0.5em;
                        }

                        .upload-icon
                        {
                            background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAANZJREFUSEvtlNENwjAMRK+bwCawCUwCo8AkjAKblB5KkOvGcSyafhGpUqvG984XtwM6r6GzPqKAMRlqrmvemIT/APfIV4noBGA3oa4FXA1wAMBrVqcPmcJPAC8A9wLEAlD4kQztU/3nsTRFdHAxICWAFD9P3d9k59aYWhANqIpbHWQDJYgEuOIegO81hNFxHUXmi1haIpJ7JIRDIFdVvKUDHVdIPAKQcfHedZ6dRH92jIvfyGwUa99/FOD+S/SGzQF5zsNOVcHXuO6gO+BX54v6zc9g9Q7ewd0wGUIGw+EAAAAASUVORK5CYII=");
                        }

                        .eye-icon
                        {
                            background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAW9JREFUSEvVlYtNAzEQRCedQCVAJZBKgEoglZBUAp1AnrUTrTf2cUhEAkun+9g7szNr72104bG5ML7+BMGDpJtQehv3D0kHSXtJPHMNx5ICgB8lXX1jI+DPx3Wvo3UjAgBfjtk5W7LcRTDPDNYwf58SYG5b1YwI3iKYzAgw6ExIVkrMXSapBBn8uiA6a3tefX8PNbarzWeCp/CciQpu4syJ54CZiARYx53v4HUEnxGNLblgJmaa71bC+wko7TJITklaAUFIrNn7O/F463pQYIAYqM122aq23gTOsma0ZBs7jQLPFKN2a4LZYgCYa4tL0R0zS6p9N4ElYwHSPGZWZOtWWQSgvasBuci5Bi56VnZWy9k27Q5L2IRddZuOwLvdVQ+afT07kXG63Zfc5EyY20tn86hV2KrFJpak1FbRHdK1za62ZttFs8tNMW+QlsNvtetpU1zzRyNbPOanw53LrQRlw/+ALVxDUDbPz17/P8EXUIxxGUWaOeIAAAAASUVORK5CYII=");
                        }

                        &:hover
                        {
                            background-color: #2563eb;
                        }
                    }
                }
            }
        }
    }
}